<!DOCTYPE html>
<html xmlns="http://www.thymleaf.org"
        th:replace = "~{/layout/index::dynamic(~{::main})}"
>
<body>
    <main>
		<div class="panel panel-primary" th:fragment = "shopping_cart">
			<div class="panel-heading">Shopping Cart</div>
			<table class="table">
				<thead>
				<tr>
					<th>Image</th>
					<th>Name</th>
					<th>Price</th>
					<th>Quantity</th>
					<th>Amount</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			<tr ng-repeat = "item in cart.items">
			 	<td >
			 	<img alt="" src="{{item.image}}" style="width: 100px">
			 	</td>
			 	<td>{{item.name}}</td>	
			 	<td>${{item.price}}</td>
			 	<td> <input ng-change = "cart.saveToLocalStorage()" ng-model = "item.qty" 
			 	type="number" min ="1" style="width: 30px"></td>	
			 	<td>${{item.qty * item.price|number:2}}</td>	
			 	<td> <button ng-click ="cart.remove(item.id)" class="btn btn-danger">X</button> </td> 	
			</tr>		
			</tbody>
			</table>
			<div class="panel-footer">
				<button ng-click = "cart.clear()" class="btn btn-info">Clear</button>
				<a th:href="@{|/order/checkout|}" class="btn btn-info">Checkout</a>
			
			</div>
		</div>
	
    </main>
</body>
</html>